<section class="container">
<div class="row">
  <div class="col-sm-6">
    <p>Learn Docker</p>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/eGz9DS-aIeY?si=Z3CM6IyyNZg902Tx1" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-sm-6">
    <p>Learn AWS</p>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/YOUR_VIDEO_ID2" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-sm-6">
    <p>Innovator Island</p>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/YOUR_VIDEO_ID3" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-sm-6">
    <p>Serverless</p>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/YOUR_VIDEO_ID4" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<div class="row text-center">
  <a class="btn btn-secondary" href="#">View Complete Video Catalogue</a>
</div>
</section>
